<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
      <h1>{{titulo_novo_artigo}}</h1>
      <form action= '/criar_artigo' method='POST'>

            <label for='titulo'>Titulo</label></br>
            <input type='text' id='titulo' name='titulo'></br>
            <label for='descricao'>Descricao</label></br>
            <input type='text' id='descricao' name='descricao'>
            <input type='submit' value='Submit'>
      </form>
  </body>
</html>